In [78]:
import requests
import json
import re
import pandas as pd

In [79]:
def hotel_query():
    print("Welcome to Women Techsters Hotel Reservation System.\n")
    print("Please, enter in your search location")
    location=str(input())
    return 
hotel_query()

Welcome to Women Techsters Hotel Reservation System.

Please, enter in your search location
Bombay

## Locations/Auto Complete

In [80]:
import requests

url = "https://travel-advisor.p.rapidapi.com/locations/auto-complete"

querystring = {"query":hotel_query,"lang":"en_US","units":"km"}

headers = {
    'x-rapidapi-key': Enter Your Keys,
    'x-rapidapi-host': "travel-advisor.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [81]:
result_auto_complete=json.loads(response.text)
location_id=result_auto_complete["data"][0]['result_object']['location_id']
latitude=result_auto_complete["data"][0]['result_object']['latitude']
longitude=result_auto_complete["data"][0]['result_object']['longitude']
print(location_id,latitude,longitude)

187507 43.370777 -8.39775

## Hotels/List

https://rapidapi.com/apidojo/api/travel-advisor/

In [82]:
import requests

url = "https://travel-advisor.p.rapidapi.com/hotels/list"

querystring = {"location_id":location_id,"adults":"1","rooms":"1","nights":"2","offset":"0","currency":"USD","order":"asc","limit":"30","sort":"recommended","lang":"en_US"}

headers = {
    'x-rapidapi-key': Enter Your Keys,
    'x-rapidapi-host': "travel-advisor.p.rapidapi.com"
    }

response_list = requests.request("GET", url, headers=headers, params=querystring)

In [83]:
result_list=json.loads(response_list.text)
# print(result_list)

In [86]:
result_list=json.loads(response_list.text)
store={}
for i in range(len(result_list)-1):
    location_list_id=result_list["data"][i]['location_id']
    name=result_list["data"][i]['name']
    location=result_list["data"][i]['location_string']
    store[location_list_id] = {"Location ID":location_list_id,"Name": name,"Location":location}

In [87]:
pd.DataFrame(store).T

,Location ID,Name,Location
1802205,1802205,Apartamentos Attica21 Portazgo,"La Coruna, Province of A Coruna, Galicia"
278320,278320,Hotel Zenit Coruna,"La Coruna, Province of A Coruna, Galicia"

In [89]:
result_list["data"][1]['business_listings'].values()#['mobile_contacts'].count()

dict_values([[], []])